@import 'mixins/css3mixins';
@import 'variables';

body {
    background-color: $backgroundColor;
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
    font-weight: 300;
    color: $fontColor;

    &::-webkit-scrollbar {
    width: 10px;
    }
     
    &::-webkit-scrollbar-track {
     background-color: $listItemColor;
    }
     
    &::-webkit-scrollbar-thumb {
      background-color: $btnAddColor;
    }
}

footer.page-footer {
    padding: 0;
    background-color: #111;
    margin-top: 50px;
}

h1 {
    font-weight: 300;
    padding: 15px 0;
    margin: 0;
    text-shadow: 0 2px 4px rgba(0,0,0,0.5);
    z-index: 100;
}

h4 {
    font-weight: 100;
    margin-bottom: 30px;
    margin-top: 0;
}

.card .card-image img {
    max-width: 300px;
}

.card-item {
    width: 300px;
}

.hide {
    display: none;
}

.invisible {
    visibility: hidden;
}

.no-padding {
    padding: 0;
}

.modal.modal-fixed-footer {
    height: 20%;
    color: black;
}

.modal {
    width: 40%;

    .modal-content {
        padding: 15px;
        text-transform: none;
    }
}

.slider {

    .slides {
        height: 440px !important;

        li .caption {
            top: 40%;
        }
    }

    .indicators {
        display: none;
    }
}

.form {
    margin-top: 15px;

    .form-btn-add {
        margin-right: 10px;

        .btn-add {
            margin-bottom: 20px;
            background-color: $btnAddColor;

            &:hover {
                background-color: $btnAddColorHover;
            }
        }
    }

    .form-btn-edit {

        .btn-edit {
            margin-bottom: 20px;
            margin-left: 3.6%;
            background-color: $btnEditColor;

            &:hover {
                background-color: $btnEditColorHover;
            }
        }

        .btn-cancel {
            margin-left: 63%;
            background-color: $btnCancelColor;

            &:hover {
                background-color: $btnCancelColorHover;
            }
        }
    }

    .input-field label {
        color: $fontColor;
    }

    .chips {
        margin-top: 15px;

        .input {
            color: $fontColor;
        }
    }
}

.track-play {
    margin-top: 15px;
    font-size: 24px;

    .play-title {
        font-size: 18px;
    }

    iframe {
        margin-top: 20px;
    }
}

.track-details {
    margin-top: 15px;
    margin-bottom: 20px;
    background-position: center right;
    background-repeat: no-repeat;
    background-size: auto;
    padding: 0 !important;

    .fixed-action-btn {
        position: relative;
        right: 10px;
        bottom: 0;
        top: 10px;
    }

    p {
        font-size: 24px;
        margin: 20px 0;

        span {
            font-size: 18px;
        }
    }

    .date {

        p {
            display: inline-block;
            font-size: 16px;
            margin-bottom: 0;
            margin-top: 50px;
            margin-right: 20px;

            span {
                font-size: 12px;
            }
        }
    }

    .details {
        font-weight: 400;
        height: auto;

        div {
            margin: 10px;
        }

        span {
            font-weight: 100;
        }
    }

    .responsive-img {
        margin-top: 5px;
    }

    .video-container {
        padding-bottom: 55%;
        margin-top: 15px;
    }
}

.buttons {
    margin-left: 10px;
    margin-bottom: 10px;

    .btn-floating {
        margin-top: 20px;
    }

    .btn-add {
        margin-left: 10px;
    }
}

.edit, .del {
    margin-top: 5px;
    margin-left: 5px;
    cursor: pointer;

    &:hover {
        font-size: 22px;
    }
}

.edit:hover {
    color: #64dd17;
}

.del:hover {
    color: red;
}

.close {
    top:20px;
    cursor: pointer;

    &:hover {
        color: red;
        background-color: white;
    }
}

.show-more, .play {
    position: absolute;
    display: none;
    bottom: 10px;
    cursor: pointer;
}

.show-more {
    right: 10px;

    &:hover {
        color: #004d40;
    }
}

.play {
    right: 45px;

    &:hover {
        color: #01579b;
    }
}

.play-track {
    color: black;
    cursor: pointer;
    width: 70px;
    height: 70px;

    i {
        line-height: 70px;
        font-size: 50px;
    }
}